{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}


    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
    
    <h3>Please enter a stock ticker to plot below:</h3>
    <form action="" method="post" novalidate>
    {{wtf.quick_form(form)}}

    <!--Bokeh plot-->
    {{ script|safe }}
    {{ div|safe }}

        {% if form.options.data%}
        {% if 'stats' in form.options.data %}
        <h4>Stats:</h4>
        <p>{{ summary |safe}}</p>
        {%endif%}

        {% if 'head' in form.options.data %}
        <h4>Full table head:</h4>
        <p>{{ head_prev |safe}}</p>
        {%endif%}
        {%endif%}


    <p>{{ raw_table |safe}}</p>
    
    </form>

    
{% endblock %}